name: Build PDF and release
on: push

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
      - name: Get timestamp
        run: echo "TIMESTAMP=$(date +'%d/%m')" >> $GITHUB_ENV
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: pdf
          name: Current version (updated ${{ env.TIMESTAMP }})
          files: main.pdf